body {
  margin: 0;
  padding: 0 180px 0 0;
  /* padding-right:300px per distanziare da destra */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #2c3e50, #db34a9);
  min-height: 100vh;
  display: flex;
  justify-content: right;
  margin-right: 300px;
  align-items: center;
}

.App-header {
  background-color: white;
  background: rgba(255, 255, 255, 0.733);
  /* semi-trasparente */
  padding: 40px 70px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  /* sfoca lo sfondo dietro */
}

.loginForm .ant-typography {
  text-align: center;
  margin-bottom: 24px;
  color: #93358f;
}

.loginForm .ant-form-item-label>label {
  color: #2c3e50;
  font-weight: 500;
}

.loginForm input {
  border-radius: 6px;

}

.purple-button {
  background-color: #93358f !important;
  border-color: white;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

purple-button {
  background-color: #93358f;
  border-color: white;
  color: white;
}

.socialLogin {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  color: #93358f;
  border-color: white;
}

.socialIcon {
  font-size: 28px;
  cursor: pointer;
  color: #93358f;
  transition: color 0.3s ease;
  border-color: white;
  border: 2px solid white;
  /* Contorno bianco */
  border-radius: 50%;
  /* Cerchio */
  padding: 8px;
}

.socialIcon:hover {
  color: #3498db;
}

.ant-divider-inner-text {
  color: #2c3e50 !important;
  font-weight: 500;
}